.expandIcon {
  size: 30px;
  padding-left: 10px;
  color: var(--peach);
}

/* Content list */

.content-list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}

.content-list a {
  color: var(--accent);
}

.content-list__item {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
}

.content-list__item p + p {
  margin-top: 0.5em;
}

.progress-container {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  position: relative;
}

.progress-bar {
  width: 100%;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.progress-label {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
  }

/* Цвет полосы прогресса */
.progress-bar::-webkit-progress-value {
  background-color: var(--peach);
}

.progress-bar::-moz-progress-bar {
  background-color: var(--peach);
}
